header {
  grid-row: 1/2;
  grid-column: 1/2;
  background-color: #1fb1e6;
  height: 5rem;
}

.logo-perso {
  height: 4rem;
  width: 4rem;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.div-logo-perso p {
    color:aliceblue;
}

input[type="checkbox"]#nav-check {
  display: none;
}

@media (max-width: 768px) {
  .nav-menu {
    padding: 0;
  }
  #menu-nav ul {
    display: block;
    width: 100%;
    margin: 0 auto;
    list-style: none;
    position: absolute;
    left: 0;
    top: 5rem;
    height: auto;
    max-height: 0%;
    overflow: hidden;
    transition: max-height 1s;
  }

  #menu-nav ul li a {
    display: block;
    width: 100%;
    padding: 1em;
    background: #1fb1e6;
    text-align: center;
    text-decoration: none;
  }
  label {
    display: block;
    padding: 0.5rem 0.5rem;
    color: aliceblue;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
  }
  #togle-logo {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: inline-block;
    cursor: pointer;
    display: block;
  }
  #togle-logo span {
    display: block;
    z-index: 2;
    width: 1.5rem;
    height: 0.2rem;
    background-color: aliceblue;
    margin: 0.32rem 0;
    transition: 0.4s;
  }

  input[type="checkbox"]#nav-check:checked ~ label #sp-1 {
    transform: rotate(-45deg) translate(-0.25rem, 0.5rem);
  }
  input[type="checkbox"]#nav-check:checked ~ label #sp-2 {
    opacity: 0;
  }
  input[type="checkbox"]#nav-check:checked ~ label #sp-3 {
    transform: rotate(45deg) translate(-0.25rem, -0.5rem);
  }
  input[type="checkbox"]#nav-check:checked ~ label {
    padding: 0.5rem 0.5rem 0.5rem 0.2rem;
  }

  /* Effet Slide/Swipe pleine page */
  .div-nav input[type="checkbox"]:checked ~ #menu-nav ul {
    max-height: 100%;
    transition: max-height 1s;
  }
}

/* --------------------------------------- @mediaQuery --------------------------------------------------- */
/* Screen max 320px */
@media (max-width: 20rem) {
  .div-logo-perso p {
    display: none;
  }
}

/* Screen min 320px and max 480px */
@media (min-width: 20rem) and (max-width: 30rem) {
  .div-logo-perso p {
    display: none;
  }
}

/* Screen min 480px and max 768px */
@media (min-width: 30rem) and (max-width: 48rem) {
  header {
    grid-column: 1/3;
  }
  .div-logo-perso p {
    display: none;
  }
}

/* Screen min 768px and max 1024px */
@media (min-width: 48rem) and (max-width: 64rem) {
  header {
    grid-column: 1/4;
  }
  .div-logo-perso p {
    position: absolute;
    top: 1rem;
    left: 5rem;
  }
  .div-nav {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  #menu-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #menu-nav ul li a {
    padding: 1rem;
    color: aliceblue;
  }
}

/* Screen min 1024px and max 1224px */
@media (min-width: 64rem) and (max-width: 76.5rem) {
  header {
    grid-column: 1/5;
  }
  .div-logo-perso p {
    position: absolute;
    top: 1rem;
    left: 5rem;
  }
  .div-nav {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  #menu-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #menu-nav ul li a {
    padding: 1rem;
    color: aliceblue;
  }
}

/* Screen min 1224px and max 1824px */
@media (min-width: 76.5rem) and (max-width: 114rem) {
  header {
    grid-column: 1/6;
  }
  .div-logo-perso p {
    position: absolute;
    top: 1rem;
    left: 5rem;
  }
  .div-nav {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  #menu-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #menu-nav ul li a {
    padding: 1rem;
    color: aliceblue;
  }
}

/* Screen min 1824 */
@media (min-width: 114rem) {
  header {
    grid-column: 1/7;
  }
  .div-logo-perso p {
    position: absolute;
    top: 1rem;
    left: 5rem;
  }
  .div-nav {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  #menu-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #menu-nav ul li a {
    padding: 1rem;
    color: aliceblue;
  }
}
