.section-title-page-home {
    background-image: url(../img/picture/home-page.jpg);
    background-repeat: no-repeat;
    background-position: center;
    position: static;
    background-size: 100% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    

}

.section-contenue-page-home {
    height: 4.8rem;
    padding: 1rem;
}

main {
    width: 100%;
}


    
@media screen and (min-width: 30rem) and (max-width: 48rem)
/* Screen min 480px and max 768px */
    {
    main {
        grid-column: 1/3;
        
    }

    h1 {
        font-size: 1rem;
    }
    .section-title-page-home {
        height: 20rem;
    }

    .section-contenue-page-home {
        height: 10rem;
    }
}

@media screen and (min-width: 48rem) and (max-width: 75rem)
/* Screen min 768px and max 1200px */
    {
    .section-title-page-home {
        height: 30rem;
    }

    .section-contenue-page-home {
        height: 10rem;
    }

    main {
        grid-column: 1/4;
    }
}

@media screen and (min-width: 75rem) and (max-width: 114rem)
/* Screen min 1200px and max 1824px */
    {
    .section-title-page-home {
        height: 40rem;
    }

    main {
        grid-column: 1/5;
    }

    h1 {
        font-size: 4rem;
    }
}

@media screen and (min-width: 114rem)
/* Screen min 1824px */
    {
    .section-title-page-home {
        height: 50rem;
    }

    main {
        grid-column: 1/6;
    }

    h1 {
        font-size: 5rem;
    }
}