/*----------------------------------------------Font---------------------------------------------------*/

/*
@font-face {
    font-family: "nom de la police";
    src: url(../font/font_localisation);
    font-weight: bold or normal;
}  

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "font_name";
} 
*/

/*---------------------------------------CSS Global---------------------------------------------------*/

body {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    border: 0;
    /* overflow: hidden; */
    height: 100%;
    --russian:#020024;
    --navy:#090979;
    --summer:#1fb1e6;
    --iris:#02a8e2;
    --pelorous:#1590bd;
    --sky:#00d4ff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-rows: 10% 80% 10%;
    width: 100%;
}

main {
    grid-row: 2/3;
}

/* --------------------------------------- @mediaQuery --------------------------------------------------- */

/* Screen max 320px */
@media (max-width: 20rem) {
    .container {
        grid-template-columns: 1fr;
    }
    main {
    grid-column: 1/2
    }     
}

/* Screen min 320px and max 480px */
@media (min-width: 20rem) and (max-width: 30rem) {
    .container {
        grid-template-columns: 1fr;
    }
    main {
    grid-column: 1/2
    }    
} 


/* Screen min 480px and max 768px */
@media (min-width: 30rem) and (max-width: 48rem) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
    main {
    grid-column: 1/3
    }
} 

/* Screen min 768px and max 1024px */
@media (min-width: 48rem) and (max-width: 64rem) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
    main {
    grid-column: 1/4
    }
} 

/* Screen min 1024px and max 1224px */
@media (min-width: 64rem) and (max-width: 76.5rem) {
    .container {
        grid-template-columns: repeat(4, 1fr);
    }
    main {
    grid-column: 1/5
    }
}

/* Screen min 1224px and max 1824px */
@media (min-width: 76.5rem) and (max-width: 114rem){
    .container {
        grid-template-columns: repeat(5, 1fr);
    }
    main {
    grid-column: 1/6
    }
}


/* Screen min 1824 */
@media (min-width: 114rem){
    .container {
        grid-template-columns: repeat(6, 1fr);
    }
    main {
    grid-column: 1/7
    }
}