/*----------------------------------------------Font---------------------------------------------------*/

/*
@font-face {
    font-family: "nom de la police";
    src: url(../font/font_localisation);
    font-weight: bold or normal;
}  

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "font_name";
} 
*/

/*---------------------------------------CSS Global---------------------------------------------------*/

body {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    border: 0;
    /* overflow: hidden; */
    height: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

svg {
    stroke:aliceblue;
}
svg:hover{
    stroke:black;
}

.container {
    display: grid;
    width: 100%;
    grid-auto-rows: 100%;
}

/* --------------------------------------- @mediaQuery --------------------------------------------------- */

/* Screen max 480px */
@media (max-width: 30rem) {

    .container {
        grid-template-columns: 1fr;
        
    }
}

/* Screen min 480px and max 768px */
@media screen and (min-width: 30rem) and (max-width: 48rem) {

    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Screen min 768px and max 1200px */
@media screen and (min-width: 48rem) and (max-width: 75rem) {

    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Screen min 1200px and max 1824px */
@media screen and (min-width: 75rem) and (max-width: 114rem) {

    .container {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* Screen min 1824px */
@media screen and (min-width: 114rem) {

    .container {
        grid-template-columns: repeat(5, 1fr);
    }
}