main {
    color: #1fb1e6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-picture img {
    height: 12rem;
    width: 10rem;

}

.div-bio,
.div-comp {
    text-align: justify;
    margin: 0.5rem;
    background-color: #1fb1e6 ;
    opacity: 0.5;
    margin: 2rem;
    padding:0  2rem 2rem 2rem;
    color: aliceblue;
}

.div-bio h2,
.div-comp h2 {
    text-align: center;
}
.div-bio p,
.div-comp ul li p  {
    font-size: 0.8rem;
}

.div-bio p a {
    color:#020024 ;
}
.div-bio p a:hover {
    color: aliceblue ;
    transition: .5s ease;
}

.list-comp {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: flex-start;
    margin: .5rem;
}

/* --------------------------------------- @mediaQuery --------------------------------------------------- */

/* Screen max 320px */
/* @media (max-width: 20rem) {} */

/* Screen min 320px and max 480px */
/* @media (min-width: 20rem) and (max-width: 30rem) {} */

/* Screen min 480px and max 768px */
@media (min-width: 30rem) and (max-width: 48rem) {
    .div-picture img {
        height: 16rem;
        width: 12rem;
    }
} 

/* Screen max 768px */
@media (max-width: 48rem) {
    .list-comp {
        flex-direction: column;
    }
} 

/* Screen min 768px */
@media (min-width: 48rem) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:20% 35% 35% 10%;
        row-gap: 2.5rem;
        margin-left: 6rem;
        margin-right: 6rem;
    }
    .div-title,
    .div-comp {
        grid-column: 1/3;
    }
    .div-title {
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .div-picture {
        justify-self: start;
        grid-row: 2/3;
        grid-column:1/2 ;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        margin: 2rem;
        background-color: #1fb1e6;
        opacity: .5;
    }

    .div-bio {
        justify-self: end;
        grid-row: 2/3;
        grid-column:2/3 ;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2rem;
    }
    .div-comp {
        grid-row: 3/4;
        justify-self: center;
    }

    .div-bio p,
    .div-comp ul li p  {
    font-size: 1rem;
    }

    
}

/* Screen min 768px and max 1024px */
@media (min-width: 48rem) and (max-width: 64rem) {
    .div-picture img,
    .div-bio {
        height: 18rem;
        width: 14rem;
    }
} 

/* Screen min 1024px and max 1224px */
@media (min-width: 64rem) and (max-width: 76.5rem) {
    .div-picture img,
    .div-bio {
        height: 22rem;
        width: 18rem;
    }
} 

/* Screen min 1224px and max 1824px */
@media (min-width: 76.5rem) and (max-width: 114rem){
    .div-picture img,
    .div-bio {
        height: 24rem;
        width: 20rem;
    }
} 

/* Screen min 1824 */
@media (min-width: 114rem) {
    .div-picture img,
    .div-bio {
        height: 24rem;
        width: 20rem;
    }
} 