.section-title-page-home {
    background-image: url(../../img/picture/home-page.jpg);
    background-repeat: no-repeat;
    background-position: center;
    position: static;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-contenue-page-home div p {
    margin: 4rem 2.5rem;
    text-align: center;
}

.section-contenue-page-home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-title-page-home {
    text-align: center;
}

.section-title-page-home h1 {
    color: aliceblue;
    text-shadow:  .2rem .2rem #1fb1e6;
}

.backgroud-citation {
    background-color: #1fb1e6 ;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    margin: 2rem;
    display: flex;
    flex-direction: column;
}

.backgroud-citation #citation {
    color: aliceblue;
    font-style: italic;
    text-align: center;  
}

.backgroud-citation #auteur {
    color: aliceblue;
    font-style: italic;
    margin: 1rem;
    text-align: end;
}


/* Screen max 480px */
@media (min-width: 20rem) and (max-width: 30rem) {
    .section-title-page-home {
        height: 20rem;
    }

    .section-title-page-home h1 {
        font-size: 10vw;
    }

    .section-contenue-page-home div p {
        font-size: 4vw;
        margin: 2rem 1.25rem;
    }
}

/* Screen min 480px and max 768px */  
@media (min-width: 30rem) and (max-width: 48rem) {
    .section-title-page-home {
        height: 32rem;
    }

    .section-title-page-home h1 {
        font-size: 10vw;
    }

    .section-contenue-page-home div p {
        font-size: 2vw;
    }

    .section-contenue-page-home {
        height: 10rem;
    }
}

/* Screen min 768px and max 1224px */
@media (min-width: 48rem) and (max-width: 76.5rem) {
    .section-title-page-home {
        height: 40rem;
    }

    .section-title-page-home h1 {
        font-size: 4rem;
    }

    .section-contenue-page-home {
        height: 15rem;
    }
}

/* Screen min 12224px and max 1824px */
@media (min-width: 76.5rem) and (max-width: 114rem) {
    .section-title-page-home {
        height: 40rem;
    }

    .section-title-page-home h1 {
        font-size: 4rem;
    }

    .section-contenue-page-home {
        height: 20rem;
    }
}

/* Screen min 1824px */
@media (min-width: 114rem) {
    .section-title-page-home {
        height: 40rem;
    }

    .section-title-page-home h1 {
        font-size: 4rem;
    }

    .section-contenue-page-home {
        height: 20rem;
    }
}