main {
    margin: 0 1rem 0 1rem;
}

.div-title h1 {
    text-align: center;
    color: #1fb1e6;
    margin: 5rem 0 4rem 0;
    font-size: 2rem;
}

.vue-arcticle {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    flex-flow: row wrap;
    background-color: #1fb1e6;
    opacity: .5;
    margin: 5rem;
    padding: 2rem;

}

.overlay-image {
    position: relative;
    width: 20rem;
    height: auto;
    margin: 1rem;
}


.overlay-image .image {
    display: block;
    width: 100%;
    height: 13.5rem;
}


.overlay-image .text h2,
.overlay-image .text p{
    color:  #1fb1e6;
    line-height: 1.5em;
    text-shadow: 2px 2px 2px #000;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.overlay-image .text h2 {
    font-size: 2rem;
}

.overlay-image .text p{
    font-size: 1.2rem;
}


.overlay-image .hover {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.overlay-image:hover .hover {
    opacity: 1;
}

.overlay-image .normal {
    transition: .5s ease;
}
.overlay-image:hover .normal {
    opacity: 0;
}
.overlay-image .hover {
    background-color: rgba(0,0,0,0.5);
}

/* --------------------------------------- @mediaQuery --------------------------------------------------- */

/* Screen max 480px */
@media (max-width: 30rem){
    .overlay-image {
        width: 14rem;
        height: 13.5rem;
    }

    .vue-arcticle {
        margin: 0.5rem;
        padding: 0.5rem 1rem;
    }
} 
/* Screen min 768px */
@media (min-width: 48rem) {
    .div-title h1{
        font-size: 4rem;
    }
}
/* Screen max 320px */
/* @media (max-width: 20rem) {} */

/* Screen min 320px and max 480px */
/* @media (min-width: 20rem) and (max-width: 30rem) {}  */

/* Screen min 480px and max 768px */
/* @media (min-width: 30rem) and (max-width: 48rem) {} */

/* Screen min 768px and max 1024px */
/* @media (min-width: 48rem) and (max-width: 64rem) {} */

/* Screen min 1024px and max 1224px */
/* @media (min-width: 64rem) and (max-width: 76.5rem) {} */


/* Screen min 1224px and max 1824px */
/* @media (min-width: 76.5rem) and (max-width: 114rem){} */

/* Screen min 1824 */
/* @media (min-width: 114rem) {} */

