.main-vue {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
} 

.div-title h1 {
    color: #1fb1e6;
    margin: 3rem 0;
    font-size: 2rem;
}

.div-description-vue {
    background-color: #1fb1e6;
    opacity: .5;
    padding: 0.5rem 0;
    margin: 1.5rem 0 3rem 0;
} 

.div-description-vue p {
    color: aliceblue;
    font-size: 0.8rem;
    text-align: center;
    padding: 0.5rem;
}

/* --------------------------------------- @mediaQuery --------------------------------------------------- */


/* Screen max 320px */
@media (max-width: 20rem) {
    .main-vue {
        margin: 0 1rem;
    }
    .div-picture-vue a img {
        height: 10rem;
        width: 14rem;
    }
    .div-description-vue {
        width: 14rem;
    }
}

/* Screen min 320px and max 480px */
@media (min-width: 20rem) and (max-width: 30rem) {
    .main-vue {
        margin: 0 1rem;
    }
    .div-picture-vue a img {
        height: 14rem;
        width: 18rem;
    }
    .div-description-vue {
        width: 18rem;
    }
}  

/* Screen min 480px and max 768px */
@media (min-width: 30rem) and (max-width: 48rem) {
    .main-vue {
        margin: 0 1.5rem;
    }
    .div-picture-vue a img {
        height: 20rem;
        width: 24rem;
    }
    .div-description-vue {
        width: 24rem;
    }
}


/* Screen min 768px */
@media (min-width: 48rem) {
    .div-title h1 {
        margin: 4rem 0;
        font-size: 4rem;
    }
    .div-picture-vue {
        margin-bottom: 2.5rem;
    }
    .div-description-vue {
        margin: 2.5rem 0 5rem 0;
    }
    .div-description-vue p {
        font-size: 1.2rem;
    }
}

/* Screen min 768px and max 1024px */
@media (min-width: 48rem) and (max-width: 64rem) {
    .main-vue {
        margin: 0 2rem;
    }
    .div-picture-vue a img {
        height: 28rem;
        width: 32rem;
    }
    .div-description-vue {
        width: 32rem;
    }
} 

/* Screen min 1024px and max 1224px */
@media (min-width: 64rem) and (max-width: 76.5rem) {
    .main-vue {
        margin: 0 2.5rem;
    }
    .div-picture-vue a img {
        height: 36rem;
        width: 40rem;
    }
    .div-description-vue {
        width: 40rem;
    }
} 


/* Screen min 1224px and max 1824px */
@media (min-width: 76.5rem) and (max-width: 114rem){
    .main-vue {
        margin: 0 2.5rem;
    }
    .div-picture-vue a img {
        height: 44rem;
        width: 48rem;
    }
    .div-description-vue {
        width: 48rem;
    }
} 

/* Screen min 1824 */
@media (min-width: 114rem) {
    .main-vue {
        margin: 0 3rem;
    }
    .div-picture-vue a img {
        height: 52rem;
        width: 56rem;
    }
    .div-description-vue {
        width: 56rem;
    }
} 